[Unit]
Description=Run IMAPFilter Helper all-folders resweep weekly

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
